header {
    background: #BBBBBB;
    padding: 20px 0;
}
.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;

}


.titulo-principal {
    padding-left: 20px;

}

.principal {
    background-color: #CCCCCC;
    padding: 30px;
}

.titulo-centralizado {
    text-align: center; 
    font-size: 22px;
}

p {
    text-align: center; 
}

#missao {
    font-size: 20px;
}

em strong {
    color: #FF0000;
}
.itens {
    font-style: italic;
}
.missao {
    background-color: #FFFFFF;
    padding: 20px;
}


ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    font-size: 20px;
}
.imagemBeneficios {
    width: 50%;
    text-align: justify;
}

footer {
    text-align: center;
    background: url("./bg.jpg");
    padding: 40px 0;
}


.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 2px 0 0;
}



